<ion-header>
  <ion-toolbar color="dark">
    <ion-title #titulo class="ion-text-left ion-text">
      <div>
        Sistema de asistencia DUOC
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
    <div class="ion-padding-vertical">
    <!--
      Se establece un card que contendrá un título
      y un contenido
    -->
    <ion-card class="ion-text-center ion-padding-vertical">

      <ion-card-title class="ion-text-center">
        <ion-label>
          <h1>¡Bienvenido!</h1>
        </ion-label>
      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <!-- Usamos ngModel para indicarle al input con que propiedad del controlador va a trabajar -->
          <ion-input type="text" [(ngModel)]="usuario.correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Contraseña</ion-label>
        
          <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">          
            <ion-button color = "warning" shape="block" (click)="ingresar()">Ingresar</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">          
            <ion-button color = "warning" (click)="goToRecuperarContra()">Recuperar contraseña</ion-button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>  
</ion-content>