ion-header {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
    background-color: rgb(0, 0, 0);
  }
  
  ion-title {
    font-size: 1.0em;
  }
  
  ion-header {
    background-color: azure;
  }
  
  ion-label {
    width: 130px;
  }
  
  ion-input, ion-select {
    color: gray;
    text-align: right;
  }
  
  
  // CGV: El siguiente estilo se agregó para que se pueda mostrar siempre el botón
  // del MatDatePicker, puesto que aparecía invisible producto de los colores 
  // asociados al Theme escogido al instalar Angular Material
  ng-deep .mat-datepicker-toggle{
    color: blue;
  }