<!-- Comienza el Header -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-title #titulo class="ion-text-left ion-text">
      <div class="titulo">
        Sistema de asistencia DUOC       
      </div>      
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Termina el Header -->

<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-title class="ion-padding-top">
      <!-- {{interpolacion}} 
          Permite mostrar los datos desde el script a la visual
          verificar el data en el home.page.ts
        -->

        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Datos del Usuario</ion-card-title>
            <br>
            <ion-card-subtitle class="ion-text-center" *ngIf="usuario">Nombre del Usuario</ion-card-subtitle>
            <ion-card-subtitle class="ion-text-center" *ngIf="usuario">{{ usuario.nombre }}</ion-card-subtitle>
            <br>
            <ion-card-subtitle class="ion-text-center" *ngIf="usuario">Correo del Usuario: {{ usuario.correo }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        <hr>
  </ion-title>
  
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button color="warning"shape="block" (click)="goToQR()">
          QR
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button color="dark" shape="block" (click)="goToLogout()">
          CERRAR SESION
        </ion-button>
      </ion-col>
    </ion-row>    
    
  </ion-grid>
<!-- Termina el Content -->

<!-- Comienza el Footer -->
<!-- Termina el Header -->